

.container{
    position: absolute;
    left: 100px;
    top : 100px;
    
}

.bar{
    width: 2px; 
    display:inline-block;
    margin: 0 1px;

}

.button{
    position: relative;
    top: 100px;
    right: 403px;
}